@model LinqUser.Services.UserProfile.UserProfileDto

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>UserProfileDto</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileSlug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileSlug)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditeProfile", "UserProfile", new { id = Model.Id }) |
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
