@model LinqUser.Areas.Services.ProfileService.UserProfile.ProfileUserDto

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    @if (Model != null)
    {
        <img src="@Model.ProfileImageUrl" alt="Profile Image" width="100px" height="100px" class=" img-thumbnail" />
    }
    else

    {
        <p>تصویر پروفایل موجود نیست</p>
    }
</div>
<div>
    <h4>ProfileUserDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        
    </dl>
    @if (Model?.SocialLinks?.Any() == true)
    {
        <ul>
            @foreach (var link in Model.SocialLinks)
            {
                <li>
                    <a href="@link.Url" target="_blank">@link.PlatformName</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>هیچ لینک اجتماعی‌ای موجود نیست.</p>
    }
</div>
<div>
    
    @Html.ActionLink("Create Profile", "CreateProfile", "Profile", new { }, null)
    @Html.ActionLink("Edite Profile", "EditeProfile", "Profile", new { }, null)
    <a asp-action="Index">Back to List</a>
</div>
